[Unit]
Description=Xploitable Patcher
After=getty@tty2.service

[Service]
Type=oneshot
ExecStart=/usr/lib/xploitable/setup-xploitable/install-xploitable
StandardInput=tty
TTYPath=/dev/tty4
TTYReset=yes
TTYVHangup=yes
